#menu
	width 100vw
	background white
	order 3
	@media screen and (min-width: 760px)
		width 40vw
	@media screen and (min-width: 1020px)
		width 25vw

	ul
		overflow scroll
		width 100%
		height 95%
		margin 0
		padding 0

		li
			height 50px
			list-style none
			padding-left 40px
			font-size 24px
			&:nth-child(2n)
				background lightgrey
			&:hover
				background blue
				color white
			@media screen and (min-width: 760px)
				font-size 20px
				height 60px

			span
				width 100%
				height 40px
				display block
				padding-top 10px //20px
				cursor pointer
	input
		width 100%
		padding 10px
		font-size 30px
		border-radius 0
		-webkit-appearance: none;
		@media screen and (min-width: 760px)
			font-size 25px
