
#wrapper
	width 100vw
	height 100vh
	display flex
	flex-direction column
	@media (min-width: 760px)
		flex-direction row
#map
	width 100vw
	min-height 50vh
	display block
	order 1
	@media screen and (min-width: 760px)
		width 60vw
		height 100vh
	@media screen and (min-width: 1020px)
		width 75vw
		height 100vh

img[src*='https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png']
	display: none;

.infoWindow
	background white
	font-size 20px
	text-align center
	padding-left 20px
	border-radius 4px
